# Virtual Environment
.venv/
# any egg_info files
*.egg-info
__pycache__
# mtv_dl home directory with the database
mtv_dl_db/
# Standard Download folder for testing
/Downloads
# NodeJS modules, used for linting the project
/node_modules